<!DOCTYPE html>
<html ng-app="spotify-playlist-deduplicator">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Spotify playlist deduplicator</title>
	<link href="lib/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
	<style type="text/css">
		.alerts {
			margin-top: 2em;
		}

		.alert {
			margin-bottom: 1em;
		}
	</style>
</head>
<body>
	<div class="container" ng-controller="Controller">
		<h1>Spotify playlist deduplicator</h1>

		<div class="checkbox" ng-repeat="playlist in playlists">
			<label>
				<input type="checkbox" ng-model="playlist.checked">
				{{ playlist.item.getName() }}
			</label>
		</div>

		<button class="btn btn-primary" ng-click="removeDuplicates()" ng-disabled="busy || !hasCheckedPlaylists()">Remove duplicate tracks</button>

		<div class="alerts">
			<div ng-repeat="notification in notifications">
				<div ng-if="notification.template === 'duplicate_tracks_removed'" class="alert alert-success">
					Duplicate tracks are removed from the following playlists:
					<ul>
						<li ng-repeat="playlist in notification.playlists">{{ playlist }}</li>
					</ul>
				</div>
				<div ng-if="notification.template === 'no_tracks_removed'" class="alert alert-info">No duplicate tracks removed.</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="lib/angular/angular.min.js"></script>
	<script type="text/javascript" src="scripts/app.js"></script>
	<script type="text/javascript" src="scripts/appSettings.js"></script>
	<script type="text/javascript" src="scripts/models/Authorization.js"></script>
	<script type="text/javascript" src="scripts/models/Playlist.js"></script>
	<script type="text/javascript" src="scripts/models/Track.js"></script>
	<script type="text/javascript" src="scripts/services/spotifyAPI.js"></script>
	<script type="text/javascript" src="scripts/controllers/RemoveDuplicatesController.js"></script>
</body>
</html>
